@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');


* {

    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}
 /*---- START NAVIGATION SECTION ---- */


.xs-nav-logo{
    max-height: calc(23vh - 6vw);
    position: relative;
    z-index:5;
}
.sm-nav-logo{
    max-width: 12vh;
    position: relative;
    margin-top: -40px;
}
.md-nav-logo{
    max-height: 105px;
    position: relative;
    z-index: 5;
}
.nav-item {
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    padding-top: 2vw;

    z-index: 5;
}
.medium-nav{
    margin-left: 20px;
}
.md-nav-item{
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    z-index: 5;
}
.xs-nav-heading{
    font-family: 'Abel', sans-serif;
    font-size: 46px;
    margin-bottom: -5px;
}
.sm-nav-heading{
    font-family: 'Abel', sans-serif;
    font-size: 4vh;
    white-space: nowrap;
}
.md-nav-heading{
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    font-size:4vh;
    margin-top: 28px;
    z-index: 5;
    white-space: nowrap;
}
.lineLogo{
    z-index: 5;
}
.nav{
    margin-top: 40px;
}
/*--THe WHITE LINE--*/
.xs-whiteLine{
    height:7vh;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 6vh;
    z-index: 1;
}
.sm-whiteLine{
    height: 6vh;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 6vh;
    z-index: 1;
}
.md-whiteLine{
    height: 7vh;
    width: 200%;
    background-color: white;
    position: absolute;
    top: 35px;
    z-index: 1;
}
/*-- END OF NAVIGATION --*/
/*END OF NAVIGATION*/
.middleSection{
    padding-bottom: 120px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: black;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
 .middleCircles {
     margin-left: 20px;
     margin-right: 20px;
     justify-content: center;

 }

.circle {
    width: 105px;
    height: 105px;
    border-radius: 120px;
    background: #e6563b;
    color: white;
    text-align: center;
    line-height: 4.5em;
    position: relative;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;


}

.circle2 {
    width: 105px;
    height: 105px;
    border-radius: 120px;
    background: #EB9D3A;
    color: white;
    text-align: center;
    line-height: 4.5em;
    position: relative;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;

}

.circle3 {
    width: 105px;
    height: 105px;
    border-radius: 120px;
    background: #7cb06c;
    color: white;
    text-align: center;
    line-height: 4.5em;
    position: relative;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;

}

.circle4 {
    width: 105px;
    height: 105px;
    border-radius: 120px;
    background: #00aba9;
    color: white;
    text-align: center;
    line-height: 4.5em;
    position: relative;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;


}
/*bottom section*/
.circle5 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: black;
    margin-left: 10px;



}


.red {
    background: #E6563B;


}

.orange {
    background: #EB9D3A;

}

.green {
    background: #7CB06C;

}

.blue {
    background: #00ABA9;

}

.selected-work {
    font-family: 'Abel', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*This used to img but changed it because it was messing with the logo img in the navigation*/
.apple-ipad{
    border: 10px solid #E6E6E6;
    min-width: 30%;

 }

.circlesBox {
    padding-top: 10px;
    padding-right: 30px;
    flex-wrap: nowrap;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .circle, .circle3 {
        margin-top: 5px;
        margin-bottom: 5px;
        float: right;
    }
    .circle2, .circle4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }


}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 600px) {
    .apple-ipad {
        border: 10px solid #E6E6E6;
        min-width: 30%;

    }

    .man {
        border: 10px solid #E6E6E6;
        min-width: 30%;

    }

    .macbook {
        border: 10px solid #E6E6E6;
        min-width: 30%;

    }

    .security {
        border: 10px solid #E6E6E6;
        min-width: 30%;

    }
    .popUps {
        font-family: 'Anton', sans-serif;
        word-wrap: break-word;
    }
    .tweet {
        position: relative;
    }

}
    /*// Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {

    }

.container {
    display: flex;
    flex-wrap: wrap;
}

.container .image {
    width: 50%;
}

.container img {
    width: calc(100% - (20px * 2));
    margin: 20px;
}